
# Windows MSVC ignoring files

*temp/*
*.lib*
*.exe*
*.output*
*.vs*
*x64*
*.pdb
*.user
*.ilk
*.iobj
*.ipdb

!*placeholder*
!P9DB.exe

# Linux Gcc ignoring files

.codelite*
Debug/
P9SDK/ExecutorDebug/main

