
# common

BuildSetting.inl

temp/*
.out/*
.lib.debug/*
.lib.release/*
.exe.debug/*
.exe.release/*
*.vs/
*x64*
*.user
*.ilk
*.iobj
*.ipdb

.codelite*
Debug/
P9SDK/ExecutorDebug/main

!*placeholder*
!P9DB.exe

